@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Outfit&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #1A1A2E;
}

/* home section */

#home{
    color: #FFF;
    margin: 7% 10% 10%;
}

.home-text{
    padding-top: 10%;
    text-align: center;
}

#home h1{
    font-size: 10rem;
}

h1{
    color:#FFF;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

/***************** home Ends ******************/


/****** footer *******/
footer{ 
    color: #FFF;    
    text-align: center;
    margin: 5% 10% 2%;
}

/****** footer-ends *******/



/************************Services section Begins****************************************/
.service-section h1{
    color: #FFF;
}

.service-text{
    padding: 0 8%;
}

.service-logo{
    color: #FFF;
}

.service-line{
    padding: 3% 0 1%;
    width: 30%;
    margin: 3% auto;
}

#service-section{
    margin: 7% 10%;
}

.card img{
   margin: auto;
   width:70%;
}

.card{
    margin: 10%;
    width: 85%;
    background-color: #1A1A2E;
    color: #FFF;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.card:hover{
    box-shadow: 0 0px 5px #FFF;
    color: #1A1A2E;
}


.card::before{
    content: "";
    position: absolute;
    left: 0%;
    top: 100%;
    background: #FFF;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
}
 
.card:hover::before{
    top:0%;
}


  
/************************Services section Ends****************************************/


/******************************Team Section Begins***********************************/


#team .title{
    color: #FFF;
    padding-top: 120px;
}

#team-section{
    padding-bottom: 15%;
    margin: 7% 10% 0;
}

.profile-card{
    position: relative;
    width: 220px;
    height: 220px;
    background:white ;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px #FFF;
    transition: 2s;
    margin: auto;
}

.profile-card:hover{
    border-radius: 8px;
    height: 280px;
}

.profile-card .image{
    position:relative ;
    width:100% ;
    height:80%;
    transition: 2s;
}

.profile-card:hover .image{
    transform: translateY(-60px);
    transition: 2s;
}


.image img{
    width: 100%;
    transition: 2s;
}

.caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: 2s;
  }
  .profile-card:hover .caption{
    opacity: 100%;
    padding-bottom: 10px;
  }
  .caption h3{
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    padding-top: 1px;
  }
  .caption p{
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    color: #0c52a1;
    margin: 2px 0 9px 0;
  }
  .caption .socials a{
    color: #333;
    margin-right: 8px;
    font-size: 21px;
    transition: 2s;
  }

p.quote{
    color: yellowgreen;
    line-height: 15px;
  }

  .socials a:hover{
    color: #0c52a1;
  }
/****************************Team section over************************************/


/*****************contact-us******************/
#contact-us{
    text-align: center;
    color: #FFF;
    padding-top: 100px;
    margin: 7% 10% 0;
}


/* navbar */
nav{
    margin: 0 10% 10%;
    background-color: #1A1A2E;
}

.nav-item{
    color: #FFF;
}

.line{
    width: 30%;
    color: #FFF;
    padding-top: 20px;
    margin: 50px auto;
}

.offcanvas{
    background-color: #1A1A2E;
    color: #FFF;
}

.logo{
    width: 6%;
}

/* nav bar ends */
